<%= form_for(@message) do |f| %>
  <% if @message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@message.errors.count, "error") %> prohibited this message from being saved:</h2>




      <ul>
      <% @message.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :copy %><br />
    <%= f.text_area :copy %>
  </div>
  <div class="field">
	  <%= f.hidden_field :latitude %>
  </div>
	<div class="field">
	  <%= f.hidden_field :longitude %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<script>
  if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(successFunction);
  } else {
      alert('It seems like Geolocation, which is required for this page, is not enabled in your browser. Please use a browser which supports it.');
  }
  
  function successFunction(position) {
	var lati = position.coords.latitude;
	var longi = position.coords.longitude;
	
	document.getElementById("message_latitude").setAttribute("value", lati);
	document.getElementById("message_longitude").setAttribute("value", longi);
	}
</script>
