<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @message.user_id %>
</p>

<p>
  <b>Copy:</b>
  <%= @message.copy %>
</p>

<p>
  <b>Latitude:</b>
  <%= @message.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%= @message.longitude %>
</p>


<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
